<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mg.studio.android.survey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finish"></activity>
        <activity android:name=".question_twelve" />
        <activity android:name=".question_eleven" />
        <activity android:name=".question_ten" />
        <activity android:name=".question_nine" />
        <activity android:name=".question_eight" />
        <activity android:name=".question_seven" />
        <activity android:name=".question_six" />
        <activity android:name=".question_four" />
        <activity android:name=".question_five" />
        <activity android:name=".question_three" />
        <activity android:name=".question_two" />
        <activity android:name=".question_one" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>